.whole {
    margin-left: 28px;
}

.cat-profile {
    margin-right: 15px;
    margin-bottom: 15px;
    padding-bottom: 8px;
    display: inline-block;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.cat {
    width: 190px;
    height: 190px;
    object-fit: cover;
    object-position: left;
}

.pic {
    display: inline-block;
    vertical-align: middle;
}

.profile-pic {
    margin-left: 10px;
    display: inline-block;
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    object-position: left;

}

.name {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 8px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.friends-div {
    display: inline-block;
}

.friends {
    width: 100px;
    padding-left: 8px;
    color: rgb(113, 113, 113);
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

button {
    margin-left: 8px;
    background-color: rgb(0, 115, 255);
    color: white;
    border-radius: 4px;
    padding: 6px 16px 6px 16px;
    border: none;
    cursor: pointer;
}