.search-bar {
    width: 250px;
    border: none;
    border-radius: 20px;
    font-family: Arial;
    font-size: 15px;
    margin-top: 0px;
    vertical-align: middle;
    padding: 8px 16px 8px 16px;
}

.search-bar::placeholder {
    text-align: left;
}

/* placeholder alignment not needed but cool to know */
.tweet {
    border-radius: 30px;
    padding: 8px 16px 8px 16px;
    background-color: rgb(73, 161, 233);
    color: white;
    font-weight: bold;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


.pfp {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    cursor: pointer;
    vertical-align: middle;
}