.header {
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(209, 209, 209);

    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu {
    height: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.youtube-logo {
    height: 1.25rem;
}


.middle-section {
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-right: 35px;
    flex: 1;
    max-width: 470px;
}

.search-bar {
    flex: 1;
    height: 2.2rem;
    padding-left: 0.8rem;
    font-size: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(205, 205, 205);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 1rem;
    color: rgb(146, 144, 144);
}

.search-button {
    height: 2.44rem;
    width: 4rem;
    background-color: rgb(247, 247, 247);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(205, 205, 205);
    margin-left: -1px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.apps-icon-container,
.notifications-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.notifications-container .tooltip {
    font-family: Roboto, Arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding: 10px 8px 10px 8px;
    font-size: 12px;
    border-radius: 2px;
    bottom: -50px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.notifications-container:hover .tooltip {
    opacity: 1;
}

.voice-search-button {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 2.5rem;
    border: none;
    background-color: rgb(248, 248, 248);
    margin-left: 0.6rem;
}

.search-img {
    margin-top: 0.3rem;
    width: 1.55rem;
}

.voice-search-img {
    width: 1.55rem;
}

.right-section {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-around;
    margin-right: 1rem;
    flex-shrink: 0;
}

.upload-img {
    height: 1.5rem;
}

.apps-img {
    height: 1.5rem;
}

.notifs-img {
    height: 1.5rem;
}

.notifications-icon-container {
    position: relative;
}

.notifications-count {
    position: absolute;
    top: -2px;
    right: -4px;
    background-color: rgb(180, 17, 17);
    color: white;
    font-family: Roboto, Arial;
    font-size: 0.7rem;
    padding: 0 4px 0 4px;
    border-radius: 2rem;

}

.channel-img {
    height: 2rem;
    border-radius: 1rem;
}

.hamburger-menu,
.youtube-logo,
.search-button,
.voice-search-button,
.upload-img,
.apps-img,
.notifs-img,
.channel-img {
    cursor: pointer;
}